@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #7df292;
}

h2 {
  text-align: center;
  padding: 3rem 0rem;
  font-family: "Nova Square", sans-serif;
  font-size: 2.7rem;
  color: white;
}

.page-container {
  justify-content: center;
  align-items: center;
  display: flex;
}
.page-container .form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
}
.page-container .form .avatar {
  font-size: 1.7rem;
  font-family: "Dosis", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-container .form .avatar .error-message {
  color: red;
}
.page-container .form .avatar img {
  height: 15rem;
  width: 15rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-container .form .avatar :hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2;
}
.page-container .form .general-info {
  font-size: 1.7rem;
  font-family: "Dosis", sans-serif;
  display: flex;
  gap: 4rem;
  margin-top: 2rem;
}
.page-container .form .general-info .name-container,
.page-container .form .general-info .news-title-container {
  display: flex;
  flex-direction: column;
}
.page-container .form .general-info .name-container .error-message,
.page-container .form .general-info .news-title-container .error-message {
  color: red;
}
.page-container .form .general-info .name-container input,
.page-container .form .general-info .news-title-container input {
  height: 3rem;
  width: 40rem;
  border-radius: 5px;
  border: none;
  padding: 0rem 1rem;
  margin-top: 1rem;
}
.page-container .form .news-discription-container {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  font-family: "Dosis", sans-serif;
  width: 100%;
  margin-top: 1rem;
}
.page-container .form .news-discription-container .error-message {
  color: red;
}
.page-container .form .news-discription-container textarea {
  width: 100%;
  height: 30vh;
  border-radius: 5px;
  border: none;
  padding: 1rem;
  margin-top: 1rem;
}
.page-container .form .button-wrap {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}
.page-container .form .button-wrap button {
  padding: 10px 30px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  background-color: var(--feedback-secondary-color);
  color: var(--feedback-primary-color);
  transition: all 0.3s;
}
.page-container .form .button-wrap :hover {
  border-radius: 0px;
  color: var(--feedback-primary-color);
  background-color: var(--background-color);
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffacac' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  animation: animatedBackground 5s linear infinite alternate;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.all-news-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 10rem;
  color: white;
  font-size: 1.5rem;
  font-family: "Dosis", sans-serif;
  flex-direction: column;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.all-news-container .add-on-section {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  align-items: center;
}
.all-news-container .add-on-section .add-news {
  background-color: #fcba21;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.all-news-container .add-on-section .add-news span {
  display: flex;
  justify-content: center;
}
.all-news-container .news-table {
  border-collapse: collapse;
  width: -moz-max-content;
  width: max-content;
}
.all-news-container .news-table tr {
  height: 5rem;
}
.all-news-container .news-table tr td,
.all-news-container .news-table tr th {
  border-bottom: 1px solid white;
  padding: 1rem;
  text-align: left;
}
.all-news-container .news-table tr td .delete-btn,
.all-news-container .news-table tr th .delete-btn {
  background-color: red;
}
.all-news-container .news-table tr td .delete-btn span,
.all-news-container .news-table tr th .delete-btn span {
  background-color: red;
}
.all-news-container .news-table tr td .edit-btn,
.all-news-container .news-table tr th .edit-btn {
  background-color: #fcba21;
}
.all-news-container .news-table tr td .edit-btn span,
.all-news-container .news-table tr th .edit-btn span {
  background-color: #fcba21;
}
.all-news-container .news-table tr td .delete-btn,
.all-news-container .news-table tr td .edit-btn,
.all-news-container .news-table tr th .delete-btn,
.all-news-container .news-table tr th .edit-btn {
  padding: 1rem;
  border-radius: 5px;
  text-transform: capitalize;
  position: relative;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  text-decoration: none;
  color: white;
}
.all-news-container .news-table tr td .delete-btn span,
.all-news-container .news-table tr td .edit-btn span,
.all-news-container .news-table tr th .delete-btn span,
.all-news-container .news-table tr th .edit-btn span {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  border-radius: 5px;
  transition: 0.2s;
}
.all-news-container .news-table tr td :hover span,
.all-news-container .news-table tr th :hover span {
  cursor: pointer;
  opacity: 1;
  transition: 0.2s;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(95, 87, 231);
  background: linear-gradient(90deg, rgb(95, 87, 231) 0%, rgb(0, 212, 255) 32%, rgb(156, 197, 101) 95%);
  height: 100vh;
}
.main h2 {
  text-decoration: underline;
}
.main .longin-container {
  border-radius: 1.5rem;
  width: 35%;
  padding-bottom: 2rem;
  background-color: #fcba21;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main .longin-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.main .longin-container form input {
  width: 90%;
  height: 4rem;
  padding: 0rem 1rem;
  border: none;
  background: transparent;
  border-bottom: 2px solid gray;
  font-size: 1.5rem;
  font-family: "Dosis", sans-serif;
}
.main .longin-container form ::-moz-placeholder {
  color: white;
}
.main .longin-container form ::placeholder {
  color: white;
}
.main .longin-container form .forgot-password {
  width: 90%;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-family: "Dosis", sans-serif;
}
.main .longin-container form .forgot-password a {
  color: white;
  text-decoration: none;
  text-decoration: underline;
}
.main .longin-container form .forgot-password :hover {
  color: blue;
}
.main .longin-container form .button {
  width: 90%;
  height: 4rem;
  border-radius: 1.5rem;
  background-color: pink;
  color: white;
  font-size: 1.5rem;
  font-family: "Dosis", sans-serif;
  border: none;
}
.main .longin-container form .button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main .longin-container form span {
  color: white;
  font-size: 1.5rem;
  font-family: "Dosis", sans-serif;
}/*# sourceMappingURL=style.css.map */