@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background-image: linear-gradient(
      67.5deg,
      rgb(6, 6, 6) 0%,
      rgb(6, 6, 6) 6%,
      rgb(29, 29, 29) 6%,
      rgb(29, 29, 29) 57%,
      rgb(52, 52, 52) 57%,
      rgb(52, 52, 52) 58%,
      rgb(75, 75, 75) 58%,
      rgb(75, 75, 75) 79%,
      rgb(97, 97, 97) 79%,
      rgb(97, 97, 97) 93%,
      rgb(120, 120, 120) 93%,
      rgb(120, 120, 120) 95%,
      rgb(143, 143, 143) 95%,
      rgb(143, 143, 143) 100%
    ),
    linear-gradient(
      90deg,
      rgb(6, 6, 6) 0%,
      rgb(6, 6, 6) 6%,
      rgb(29, 29, 29) 6%,
      rgb(29, 29, 29) 57%,
      rgb(52, 52, 52) 57%,
      rgb(52, 52, 52) 58%,
      rgb(75, 75, 75) 58%,
      rgb(75, 75, 75) 79%,
      rgb(97, 97, 97) 79%,
      rgb(97, 97, 97) 93%,
      rgb(120, 120, 120) 93%,
      rgb(120, 120, 120) 95%,
      rgb(143, 143, 143) 95%,
      rgb(143, 143, 143) 100%
    ),
    linear-gradient(
      135deg,
      rgb(6, 6, 6) 0%,
      rgb(6, 6, 6) 6%,
      rgb(29, 29, 29) 6%,
      rgb(29, 29, 29) 57%,
      rgb(52, 52, 52) 57%,
      rgb(52, 52, 52) 58%,
      rgb(75, 75, 75) 58%,
      rgb(75, 75, 75) 79%,
      rgb(97, 97, 97) 79%,
      rgb(97, 97, 97) 93%,
      rgb(120, 120, 120) 93%,
      rgb(120, 120, 120) 95%,
      rgb(143, 143, 143) 95%,
      rgb(143, 143, 143) 100%
    ),
    linear-gradient(
      0deg,
      rgb(6, 6, 6) 0%,
      rgb(6, 6, 6) 6%,
      rgb(29, 29, 29) 6%,
      rgb(29, 29, 29) 57%,
      rgb(52, 52, 52) 57%,
      rgb(52, 52, 52) 58%,
      rgb(75, 75, 75) 58%,
      rgb(75, 75, 75) 79%,
      rgb(97, 97, 97) 79%,
      rgb(97, 97, 97) 93%,
      rgb(120, 120, 120) 93%,
      rgb(120, 120, 120) 95%,
      rgb(143, 143, 143) 95%,
      rgb(143, 143, 143) 100%
    ),
    linear-gradient(90deg, rgb(8, 8, 8), rgb(221, 221, 221));
  background-blend-mode: overlay, overlay, overlay, overlay, normal;
  width: 100%;
  height: 100vh;
}

h2 {
  text-align: center;
  padding: 3rem 0rem;
  font-family: "Nova Square", sans-serif;
  font-size: 2.7rem;
  color: white;
}

.page-container {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 55%;
  margin: 0 auto;
  .form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    .avatar {
      font-size: 1.7rem;
      font-family: "Dosis", sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .error-message {
        color: red;
      }
      img {
        height: 15rem;
        width: 15rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        object-fit: cover;
      }
      :hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.2;
      }
    }
    .general-info {
      font-size: 1.7rem;
      font-family: "Dosis", sans-serif;
      display: flex;
      gap: 4rem;
      margin-top: 2rem;
      width: 100%;
      .name-container,
      .news-title-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        .error-message {
          color: red;
        }
        input {
          height: 3rem;
          border-radius: 5px;
          border: none;
          padding: 0rem 1rem;
          margin-top: 1rem;
          width: 100%;
          font-size: 1.7rem;
          font-family: "Dosis", sans-serif;
        }
      }
    }
    .news-discription-container {
      display: flex;
      flex-direction: column;
      font-size: 1.7rem;
      font-family: "Dosis", sans-serif;
      width: 100%;
      margin-top: 1rem;
      .error-message {
        color: red;
      }

      textarea {
        width: 100%;
        height: 30vh;
        border-radius: 5px;
        border: none;
        padding: 1rem;
        margin-top: 1rem;
        font-size: 1.7rem;
        font-family: "Dosis", sans-serif;
      }
    }
    .button-wrap {
      display: flex;
      gap: 3rem;
      margin-top: 2rem;

      button {
        align-items: center;
        appearance: none;
        background-color: #fcfcfd;
        border-radius: 4px;
        border-width: 0;
        box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,
          rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
        box-sizing: border-box;
        color: #36395a;
        cursor: pointer;
        display: inline-flex;
        font-family: "JetBrains Mono", monospace;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow 0.15s, transform 0.15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow, transform;
        font-size: 18px;
      }

      button:focus {
        box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
          rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
      }

      button:hover {
        box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
          rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
        transform: translateY(-2px);
      }

      button:active {
        box-shadow: #d6d6e7 0 3px 7px inset;
        transform: translateY(2px);
      }
    }
  }
}

// :root {
//   --background-color: #ffe5e5;
//   --color: #000000;
//   --feedback-bg-color: #ffffff;
//   --feedback-secondary-color: #ffacac;
//   --feedback-primary-color: #53488d;
//   --feedback-icon-color: #ffffff;
//   --feedback-form-input: #f4f4f4;
// }

// body {
//   font-family: "DM Sans", sans-serif;
//   background-color: var(--feedback-primary-color);
// }

// .center-content {
//   display: grid;
//   place-content: center;
// }

// .container {
//   @extend .center-content;
//   height: 100vh;
// }

// .submit-feedback {
//   @extend .center-content;
//   padding: 10px 30px;
//   font-size: 24px;
//   cursor: pointer;

//   border-radius: 7px;
//   border-bottom-left-radius: 0;

//   background-color: var(--feedback-secondary-color);
//   color: var(--feedback-primary-color);

//   transition: all 0.3s;

//   &:hover {
//     border-radius: 0px;

//     color: var(--feedback-primary-color);
//     background-color: var(--background-color);
//     background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffacac' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
//     animation: animatedBackground 5s linear infinite alternate;
//   }
// }

// @keyframes animatedBackground {
//   from {
//     background-position: 0 0;
//   }
//   to {
//     background-position: 100% 0;
//   }
// }

//Show News
.all-news-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 10rem;
  color: white;
  font-size: 1.5rem;
  font-family: "Dosis", sans-serif;
  flex-direction: column;
  width: max-content;
  margin: 0 auto;
  .add-on-section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    align-items: center;
    .add-news {
      background-color: #fcba21;
      padding: 0.5rem;
      text-decoration: none;
      color: white;
      border-radius: 5px;
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      span {
        display: flex;
        justify-content: center;
      }
    }
  }
  .news-table {
    border-collapse: collapse;
    width: max-content;
    tr {
      height: 5rem;

      td,
      th {
        border-bottom: 1px solid white;
        padding: 1rem;
        text-align: left;
        .delete-btn {
          background-color: red;
          span {
            background-color: red;
          }
        }
        .edit-btn {
          background-color: #fcba21;
          span {
            background-color: #fcba21;
          }
        }
        .delete-btn,
        .edit-btn {
          padding: 1rem;
          border-radius: 5px;
          text-transform: capitalize;
          position: relative;
          display: flex;
          align-items: center; /* Center vertically */
          justify-content: center; /* Center horizontally */
          text-decoration: none;
          color: white;

          span {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center; /* Center vertically */
            justify-content: center; /* Center horizontally */
            border-radius: 5px;
            transition: 0.2s;
          }
        }

        :hover span {
          cursor: pointer;
          opacity: 1;
          transition: 0.2s;
        }
      }
    }
  }
}

.main {
  background-color: #abcdef;
  display: flex;
  height: 100vh;

  .login {
    background: #136a8a;
    background: -webkit-linear-gradient(to right, #267871, #136a8a);
    background: linear-gradient(to right, #267871, #136a8a);
    margin: auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2),
      0px 10px 20px rgba(0, 0, 0, 0.3), 0px 30px 60px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5rem;
    .head {
      h2 {
        font-family: "Nova Square", sans-serif;
        font-size: 2.7rem;
        color: white;
      }
    }
    .form {
      input {
        border: none;
        background: none;
        box-shadow: 0px 2px 0px 0px white;
        width: 100%;
        color: white;
        font-size: 1em;
        outline: none;
        margin-bottom: 2rem;
        margin-top: 2rem;
        padding-bottom: 1rem;
        font-size: 1.7rem;
        font-family: "Dosis", sans-serif;
      }
      & ::placeholder {
        color: #d3d3d3;
      }
      .error-placeholder::placeholder {
        color: red; // Set the color for the placeholder text
      }

      .btns {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        gap: 5rem;
        button {
          border: none;
          background: none;
          text-decoration: none;
          color: white;
          box-shadow: 0px 0px 0px 2px white;
          border-radius: 3px;
          padding: 5px 2em;
          transition: 0.5s;
          font-size: 1.7rem;
          font-family: "Dosis", sans-serif;
        }
        & :hover {
          cursor: pointer;
        }

        .forgot {
          text-decoration: none;
          color: white;
          font-size: 1.7rem;
          font-family: "Dosis", sans-serif;
        }
      }
    }
    p {
      margin-top: 2rem;
      text-align: center;
      color: red;
      color: white;
      font-size: 1.7rem;
      font-family: "Dosis", sans-serif;
      a {
        color: white;
      }
    }
  }
}

// ------------------------sidebar--------------

#sidebar {
  width: 20rem;
  height: 100vh;
  background-color: #333;
  color: #fff;
  padding-top: 2rem;
  position: fixed;
  left: -20rem;
  transition: left 0.3s ease;

  p {
    font-family: "Nova Square", sans-serif;
    font-size: 2.7rem;
    text-align: center;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .child-element {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
    font-family: "Dosis", sans-serif;

    .nested-child {
      display: none;
      margin-top: 0.5rem;
      padding: 0.5rem;
      background-color: #777;
      border-radius: 10px 0px 0px 10px;
      padding-left: 1rem;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

$color: #0cf;

#content {
  margin-left: 0;

  transition: margin-left 0.3s ease;
}

#hamburger {
  position: fixed;
  left: 2rem;
  top: 2rem;
  cursor: pointer;
  z-index: 2;
  transition: left 0.3s ease;
  font-size: 2rem;
  color: white;
}

.logout-button {
  position: absolute;
  bottom: 2rem; // Adjust the distance from the bottom as needed
  width: 100%;
  text-align: center;

  button {
    display: inline-block;
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 4rem;
    z-index: 1;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color;
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken($color, 15%);
      transition: all 0.3s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      cursor: pointer;
      &:before {
        width: 100%;
      }
    }
  }
}
