@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #abcdef;
}

h2 {
  text-align: center;
  padding: 3rem 0rem;
  font-family: "Nova Square", sans-serif;
  font-size: 2.7rem;
  color: white;
}

.page-container {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 55%;
  margin: 0 auto;
}
.page-container .form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
}
.page-container .form .avatar {
  font-size: 1.7rem;
  font-family: "Dosis", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-container .form .avatar .error-message {
  color: red;
}
.page-container .form .avatar img {
  height: 15rem;
  width: 15rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-container .form .avatar :hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2;
}
.page-container .form .general-info {
  font-size: 1.7rem;
  font-family: "Dosis", sans-serif;
  display: flex;
  gap: 4rem;
  margin-top: 2rem;
  width: 100%;
}
.page-container .form .general-info .name-container,
.page-container .form .general-info .news-title-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.page-container .form .general-info .name-container .error-message,
.page-container .form .general-info .news-title-container .error-message {
  color: red;
}
.page-container .form .general-info .name-container input,
.page-container .form .general-info .news-title-container input {
  height: 3rem;
  border-radius: 5px;
  border: none;
  padding: 0rem 1rem;
  margin-top: 1rem;
  width: 100%;
  font-size: 1.7rem;
  font-family: "Dosis", sans-serif;
}
.page-container .form .news-discription-container {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  font-family: "Dosis", sans-serif;
  width: 100%;
  margin-top: 1rem;
}
.page-container .form .news-discription-container .error-message {
  color: red;
}
.page-container .form .news-discription-container textarea {
  width: 100%;
  height: 30vh;
  border-radius: 5px;
  border: none;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.7rem;
  font-family: "Dosis", sans-serif;
}
.page-container .form .button-wrap {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}
.page-container .form .button-wrap button {
  padding: 10px 30px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  background-color: var(--feedback-secondary-color);
  color: var(--feedback-primary-color);
  transition: all 0.3s;
}
.page-container .form .button-wrap :hover {
  border-radius: 0px;
  color: var(--feedback-primary-color);
  background-color: var(--background-color);
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffacac' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  animation: animatedBackground 5s linear infinite alternate;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.all-news-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 10rem;
  color: white;
  font-size: 1.5rem;
  font-family: "Dosis", sans-serif;
  flex-direction: column;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.all-news-container .add-on-section {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  align-items: center;
}
.all-news-container .add-on-section .add-news {
  background-color: #fcba21;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.all-news-container .add-on-section .add-news span {
  display: flex;
  justify-content: center;
}
.all-news-container .news-table {
  border-collapse: collapse;
  width: -moz-max-content;
  width: max-content;
}
.all-news-container .news-table tr {
  height: 5rem;
}
.all-news-container .news-table tr td,
.all-news-container .news-table tr th {
  border-bottom: 1px solid white;
  padding: 1rem;
  text-align: left;
}
.all-news-container .news-table tr td .delete-btn,
.all-news-container .news-table tr th .delete-btn {
  background-color: red;
}
.all-news-container .news-table tr td .delete-btn span,
.all-news-container .news-table tr th .delete-btn span {
  background-color: red;
}
.all-news-container .news-table tr td .edit-btn,
.all-news-container .news-table tr th .edit-btn {
  background-color: #fcba21;
}
.all-news-container .news-table tr td .edit-btn span,
.all-news-container .news-table tr th .edit-btn span {
  background-color: #fcba21;
}
.all-news-container .news-table tr td .delete-btn,
.all-news-container .news-table tr td .edit-btn,
.all-news-container .news-table tr th .delete-btn,
.all-news-container .news-table tr th .edit-btn {
  padding: 1rem;
  border-radius: 5px;
  text-transform: capitalize;
  position: relative;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  text-decoration: none;
  color: white;
}
.all-news-container .news-table tr td .delete-btn span,
.all-news-container .news-table tr td .edit-btn span,
.all-news-container .news-table tr th .delete-btn span,
.all-news-container .news-table tr th .edit-btn span {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  border-radius: 5px;
  transition: 0.2s;
}
.all-news-container .news-table tr td :hover span,
.all-news-container .news-table tr th :hover span {
  cursor: pointer;
  opacity: 1;
  transition: 0.2s;
}

.main {
  background-color: #abcdef;
  display: flex;
  height: 100vh;
}
.main .login {
  background: #136a8a;
  background: linear-gradient(to right, #267871, #136a8a);
  margin: auto;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.3), 0px 30px 60px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5rem;
}
.main .login .head h2 {
  font-family: "Nova Square", sans-serif;
  font-size: 2.7rem;
  color: white;
}
.main .login .form input {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 100%;
  color: white;
  font-size: 1em;
  outline: none;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
  font-size: 1.7rem;
  font-family: "Dosis", sans-serif;
}
.main .login .form ::-moz-placeholder {
  color: #d3d3d3;
}
.main .login .form ::placeholder {
  color: #d3d3d3;
}
.main .login .form .error-placeholder::-moz-placeholder {
  color: red;
}
.main .login .form .error-placeholder::placeholder {
  color: red;
}
.main .login .form .btns {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.main .login .form .btns button {
  border: none;
  background: none;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 0px 2px white;
  border-radius: 3px;
  padding: 5px 2em;
  transition: 0.5s;
  font-size: 1.7rem;
  font-family: "Dosis", sans-serif;
}
.main .login .form .btns :hover {
  cursor: pointer;
}
.main .login .form .btns .forgot {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  font-family: "Dosis", sans-serif;
}
.main .login p {
  margin-top: 2rem;
  text-align: center;
  color: red;
  color: white;
  font-size: 1.7rem;
  font-family: "Dosis", sans-serif;
}
.main .login p a {
  color: white;
}

#sidebar {
  width: 20rem;
  height: 100vh;
  background-color: #333;
  color: #fff;
  padding-top: 2rem;
  position: fixed;
  left: -20rem;
  transition: left 0.3s ease;
}
#sidebar p {
  font-family: "Nova Square", sans-serif;
  font-size: 2.7rem;
  text-align: center;
}
#sidebar p a {
  text-decoration: none;
  color: white;
}
#sidebar .child-element {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #555;
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
  font-family: "Dosis", sans-serif;
}
#sidebar .child-element .nested-child {
  display: none;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: #777;
  border-radius: 10px 0px 0px 10px;
  padding-left: 1rem;
}
#sidebar .child-element .nested-child a {
  text-decoration: none;
  color: white;
}

#content {
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

#hamburger {
  position: fixed;
  left: 2rem;
  top: 2rem;
  cursor: pointer;
  z-index: 2;
  transition: left 0.3s ease;
  font-size: 2rem;
}

.logout-button {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
}
.logout-button button {
  display: inline-block;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  width: 80%;
  height: 4rem;
  z-index: 1;
}
.logout-button button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
.logout-button button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.logout-button button:hover {
  color: #fff;
  cursor: pointer;
}
.logout-button button:hover:before {
  width: 100%;
}/*# sourceMappingURL=style.css.map */